{{ define "content" }}
<h1 class="mb-4">Processes</h1>
<div class="card p-3">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>Steps</th>
                <th>Max Rework</th>
            </tr>
        </thead>
        <tbody>
            {{ range .Processes }}
            <tr>
                <td>{{ .Name }}</td>
                <td>{{ len .Spec.Steps }}</td>
                <td>{{ .Spec.MaxReworkAttempts }}</td>
            </tr>
            {{ end }}
        </tbody>
    </table>
</div>
{{ end }}
